{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% if data['case-address'] and data['case-address'] != '' %}
<a class="govuk-back-link" href="add-case-task-list">Back</a>
{% else %}
<a class="govuk-back-link" href="settlement-task-list">Back</a>
{% endif %}

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Generate schedule of assessments & settled cases</h1>
    {% if data['case-address'] and data['case-address'] != '' %}
    <h2 class="govuk-caption-xl govuk-!-margin-bottom-9">{{ data['description'] }}
      <br><span class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-4 govuk-!-font-weight-bold">Address: {{ data['case-address'] }}</span>
    </h2>
    {% else %}
    <h2 class="govuk-caption-xl govuk-!-margin-bottom-9">{{ data['description'] }}</h2>
    {% endif %}
    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Generate assessments schedule",
        href: "format-assessments-cases",
        classes: "govuk-button--primary"
      }) }}
    
      {{ govukButton({
        text: "Generate settled cases schedule",
        href: "format-assessments-cases",
        classes: "govuk-button--secondary"
      }) }}
      
    </div>

  


    <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
      <thead class="govuk-table__head">
        <!------------ TABLE HEADERS ------------>
        <tr class="govuk-table__row">
          <th class="govuk-table__header col-one-forty-eighth" scope="col" id="select-all"></th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Address</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Total significant area</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Price m2</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Rateable value</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Survey unit type</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Asst status</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">NDR change reason</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Case settlement code</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">CCA type</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Settled flag</th>
          <th class="govuk-table__header col-two-twenty-fourth" scope="col">Survey unit count</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <!------------ TABLE ROW 1 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">36 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£80.00</td>
          <td class="govuk-table__cell">£510,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">2I</td>
          <td class="govuk-table__cell">Challenge</td>
          <td class="govuk-table__cell">Y</td>
          <td class="govuk-table__cell">1</td>

        <!------------ TABLE ROW 2 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">36 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£80.00</td>
          <td class="govuk-table__cell">£510,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">2I</td>
          <td class="govuk-table__cell">Challenge</td>
          <td class="govuk-table__cell">Y</td>
          <td class="govuk-table__cell">1</td>
        </tr>

        <!------------ TABLE ROW 3 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">36 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£65.00</td>
          <td class="govuk-table__cell">£425,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">1</td>
        </tr>

        <!------------ TABLE ROW 4 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">36 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£62.00</td>
          <td class="govuk-table__cell">£410,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">1</td>
        </tr>

        <!------------ TABLE ROW 5 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">18 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£80.00</td>
          <td class="govuk-table__cell">£510,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">2I</td>
          <td class="govuk-table__cell">Challenge</td>
          <td class="govuk-table__cell">Y</td>
          <td class="govuk-table__cell">1</td>
        </tr>

        <!------------ TABLE ROW 6 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">49 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£65.00</td>
          <td class="govuk-table__cell">£425,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">1</td>
        </tr>

        <!------------ TABLE ROW 7 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">59 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£80.00</td>
          <td class="govuk-table__cell">£510,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">2I</td>
          <td class="govuk-table__cell">Challenge</td>
          <td class="govuk-table__cell">Y</td>
          <td class="govuk-table__cell">1</td>
        </tr>

        <!------------ TABLE ROW 8 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">74 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£65.00</td>
          <td class="govuk-table__cell">£425,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">1</td>
        </tr>

        <!------------ TABLE ROW 9 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">74 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£65.00</td>
          <td class="govuk-table__cell">£425,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">1</td>
        </tr>

        <!------------ TABLE ROW 10 ------------>
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">74 CROSS STREET MANCHESTER M2 7AQ</td>
          <td class="govuk-table__cell">359.20</td>
          <td class="govuk-table__cell">£65.00</td>
          <td class="govuk-table__cell">£425,000</td>
          <td class="govuk-table__cell">SHOP</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">1</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
{% endblock %}