{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="settlement-task-list">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Rents in settlement group</h1>
    <h2 class="govuk-caption-xl govuk-!-margin-bottom-9">{{ data['description'] }}</h2>

    <!-------------- START OF FILTERS --------------------->
    <div class="moj-filter-layout">

      <div class="moj-filter-layout__filter">

        <div class="moj-filter">

          <div class="moj-filter__header">

            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>

            <div class="moj-filter__header-action">

            </div>

          </div>

          <div class="moj-filter__content">

            <!-- <div class="moj-filter__selected">
  
              <div class="moj-filter__selected-heading">
  
                <div class="moj-filter__heading-title">
                  <h2 class="govuk-heading-m">Selected filters</h2>
                </div>
  
                <div class="moj-filter__heading-action">
                  <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                </div>
  
              </div>
  
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Price m2</h3>
  
              <ul class="moj-filter-tags">
  
                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>
  
                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>
  
              </ul>
  
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Rateable value</h3>
  
              <ul class="moj-filter-tags">
  
                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Complete</a></li>
  
              </ul>
  
            </div> -->

            <div class="moj-filter__options">

              <button class="govuk-button" data-module="govuk-button">
                Apply filters
              </button>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Address contains
                </label>

                <input class="govuk-input" id="address" name="address" type="text">
              </div>

              <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                    Rents status indicator

                  </legend>

                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">
                        Useful (12)
                      </label>

                    </div>

                  </div>

                </fieldset>

              </div>


            </div>

          </div>

        </div>

      </div>

      <div class="moj-filter-layout__content">

        <!------------ BUTTONS ----------->
        <div class="moj-action-bar">

          <div class="moj-action-bar__filter"></div>

          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">


              {{ govukButton({
                text: "Add to rents summary",
                classes: "govuk-button moj-button-menu__item govuk-button--primary",
                href: "supporting-rents-success-message"
              }) }}

              {{ govukButton({
                text: "Add or view remark",
                classes: "govuk-button moj-button-menu__item govuk-button--secondary",
                href: "supporting-rents-add-remark"
              }) }}

            </div>
          </div>

        </div>

        <div class="moj-scrollable-pane">

          <div class="moj-scrollable-pane__wrapper">


            <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header col-one-forty-eighth" scope="col" id="select-all"></th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Address</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">FOR case number</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">FOR type</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Total significant area m2</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Rent status indicator</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Useful indicator</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Analysis type</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Effective date of rent</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Adjusted rent</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Analysed rent £/m2</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">Assessment status</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">NDR change reason</th>
                  <th class="govuk-table__header col-two-twenty-fourth" scope="col">RV</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <!--------- ROW 1 ----------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">16 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell">108712349875</td>
                  <td class="govuk-table__cell">VO 6003</td>
                  <td class="govuk-table__cell">96.15</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Useful</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">24 April 2012</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">£16,500</td>
                </tr>

                <!--------- ROW 2 ----------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">16 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell">108712349875</td>
                  <td class="govuk-table__cell">VO 6003</td>
                  <td class="govuk-table__cell">96.15</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Useful</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">24 April 2012</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">£16,500</td>
                </tr>

                <!--------- ROW 3 ----------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">16 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell">108712349875</td>
                  <td class="govuk-table__cell">VO 6003</td>
                  <td class="govuk-table__cell">96.15</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Useful</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">01 Jan 2016</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">£16,500</td>
                </tr>

                <!--------- ROW 4 ----------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">16 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell">108712349875</td>
                  <td class="govuk-table__cell">VO 6003</td>
                  <td class="govuk-table__cell">96.15</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">Useful</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">01 Jan 2016</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">£16,500</td>
                </tr>

                <!--------- ROW 5 ----------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">16 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell">108712349875</td>
                  <td class="govuk-table__cell">VO 6003</td>
                  <td class="govuk-table__cell">96.15</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">Useful</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">01 Aug 2019</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">£16,500</td>
                </tr>

                <!--------- ROW 6 ----------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">16 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell">108712349875</td>
                  <td class="govuk-table__cell">VO 6003</td>
                  <td class="govuk-table__cell">96.15</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Useful</td>
                  <td class="govuk-table__cell">R</td>
                  <td class="govuk-table__cell">01 Aug 2019</td>
                  <td class="govuk-table__cell">£17,659</td>
                  <td class="govuk-table__cell">£18,000</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">£16,500</td>
                </tr>

                <!--------- ROW 7 ----------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">27 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell">108712349875</td>
                  <td class="govuk-table__cell">VO 6003</td>
                  <td class="govuk-table__cell">120.15</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Useful</td>
                  <td class="govuk-table__cell">R</td>
                  <td class="govuk-table__cell">01 Aug 2019</td>
                  <td class="govuk-table__cell">£17,659</td>
                  <td class="govuk-table__cell">£18,000</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">£16,500</td>
                </tr>

                <!--------- ROW 8 ----------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">30 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell">108712349875</td>
                  <td class="govuk-table__cell">ORI</td>
                  <td class="govuk-table__cell">100.50</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Useful</td>
                  <td class="govuk-table__cell">R</td>
                  <td class="govuk-table__cell">01 Dec 2018</td>
                  <td class="govuk-table__cell">£23,228</td>
                  <td class="govuk-table__cell">£23.500</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">£16,500</td>
                </tr>


              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>

  </div>
  {% endblock %}