{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% if data['case-address'] and data['case-address'] != '' %}
<a class="govuk-back-link" href="add-case-task-list">Back</a>
{% else %}
<a class="govuk-back-link" href="settlement-task-list">Back</a>
{% endif %}

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Generate schedule of assessments & settled cases</h1>
    {% if data['case-address'] and data['case-address'] != '' %}
    <h2 class="govuk-caption-xl govuk-!-margin-bottom-9">{{ data['description'] }}
      <br><span class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-4 govuk-!-font-weight-bold">Address: {{ data['case-address'] }}</span>
    </h2>
    {% else %}
    <h2 class="govuk-caption-xl govuk-!-margin-bottom-9">{{ data['description'] }}</h2>
    {% endif %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Generate assessments schedule",
        href: "format-assessments-cases",
        classes: "govuk-button--primary"
      }) }}

      {{ govukButton({
        text: "Generate settled cases schedule",
        href: "format-assessments-cases",
        classes: "govuk-button--secondary"
      }) }}

    </div>




    <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
      <thead class="govuk-table__head">
        <!------------ TABLE HEADERS ------------>
        <tr class="govuk-table__row">
          <th class="govuk-table__header col-one-quarter" scope="col" id="select-all"></th>
          <th class="govuk-table__header col-two-quarter" scope="col">&nbsp;</th>
          <th class="govuk-table__header col-two-quarter" scope="col">&nbsp;</th>
          <th class="govuk-table__header col-two-quarter" scope="col">&nbsp;</th>
          <th class="govuk-table__header col-two-quarter" scope="col">
            <!-- SORT DROPDOWN -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                Sort by
              </label>
              <select class="govuk-select" id="sort" name="sort">
                <option value="published">Advise sort criteria please</option>
                <option value="updated" selected>Advise sort criteria please</option>
                <option value="views">Advise sort criteria please</option>
                <option value="comments">Advise sort criteria please</option>
              </select>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

                <!--------------------------------- ROW 1 ------------------------------------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="settlement-group-row-1">
                      <label class="govuk-label govuk-checkboxes__label" for="settlement-group-row-1">
                        <span class="govuk-visually-hidden">settlement group row 1</span>
                      </label>
                    </div>
                  </td>
                  <!--------------------------- FIRST ROW COLUMN/TD 1 ------------------------->
                  <td class="govuk-table__cell">

                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Address</a></li>
                      <li class="govuk-list govuk-!-font-size-16">LEANDER HOUSE 4600, PARKWAY, WHITELEY,FAREHAM, HANTS</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Total significant area</a></li>
                      <li class="govuk-list govuk-!-font-size-16">3981.81</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Analysed Value £/m2</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Adopted value m2</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Rateable value</a></li>
                      <li class="govuk-list govuk-!-font-size-16">510000</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">###</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Survey unit value</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                  </td>

                  <!--------------------------- FIRST ROW COLUMN/TD 2 ------------------------->
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Matrix reference</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Remarks Y/N</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Beacon Factor</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Settlement Type</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Scheme Reference</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Property Age</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Previously Settled Proposals</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                  </td>

                  <!--------------------------- FIRST ROW COLUMN/TD 3 ------------------------->
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Appellant</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Survey unit adjustments</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Parking</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">P&M</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">End adjustment</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Assessment Status</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Additional Survey Units</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                  </td>

                  <!--------------------------- FIRST ROW COLUMN/TD 4 ------------------------->
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Analysis Remarks</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">CCA Type</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Outstanding Challenge Case</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Proposed Assessments</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Custom sort</a></li>
                      <li class="govuk-list govuk-!-font-size-16">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-!-font-size-16" for="width-3">
                            Add sort character
                          </label>
                          <input class="govuk-input govuk-input--width-3" id="width-3" name="width-2" type="text">
                        </div>
                      </li>
                    </ul>
                  </td>
                </tr>
                <!--------------------------------- END OF ROW 1 ------------------------------->

                
                
                <!--------------------------------- ROW 2 ------------------------------------->
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="settlement-group-row-1">
                      <label class="govuk-label govuk-checkboxes__label" for="settlement-group-row-1">
                        <span class="govuk-visually-hidden">settlement group row 1</span>
                      </label>
                    </div>
                  </td>
                  <!--------------------------- SECOND ROW COLUMN/TD 1 ------------------------->
                  <td class="govuk-table__cell">

                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Address</a></li>
                      <li class="govuk-list govuk-!-font-size-16">THE FORUM, PARKWAY, WHITELEY, FAREHAM, HANTS, PO15 7FW</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Total significant area</a></li>
                      <li class="govuk-list govuk-!-font-size-16">117.4</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Analysed Value £/m2</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Adopted value m2</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Rateable value</a></li>
                      <li class="govuk-list govuk-!-font-size-16">29750</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Survey unit type</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Survey unit value</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                  </td>

                  <!--------------------------- SECOND ROW COLUMN/TD 2 ------------------------->
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Matrix reference</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Remarks Y/N</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Beacon Factor</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Settlement Type</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Scheme Reference</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Property Age</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Previously Settled Proposals</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                  </td>

                  <!--------------------------- SECOND ROW COLUMN/TD 3 ------------------------->
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Appellant</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Survey unit adjustments</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Parking</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">P&M</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">End adjustment</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Assessment Status</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Additional Survey Units</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                  </td>

                  <!--------------------------- SECOND ROW COLUMN/TD 4 ------------------------->
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Analysis Remarks</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">CCA Type</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Outstanding Challenge Case</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Proposed Assessments</a></li>
                      <li class="govuk-list govuk-!-font-size-16">###</li>
                    </ul>
                    <ul class="govuk-list">
                      <li class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-underline" href="#">Custom sort</a></li>
                      <li class="govuk-list govuk-!-font-size-16">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-!-font-size-16" for="width-3">
                            Add sort character
                          </label>
                          <input class="govuk-input govuk-input--width-3" id="width-3" name="width-2" type="text">
                        </div>
                      </li>
                    </ul>
                  </td>
                </tr>
                <!--------------------------------- END OF ROW 2 ------------------------------->
      </tbody>
    </table>
  </div>
</div>
{% endblock %}