// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;
// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";
// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";
// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-width-container {
	// max-width: 1366px;
	max-width: 80vw;
	margin: 0 auto;
}

// Custom Table columns

.col-one-fifth {
	width: 20%;
}

.col-one-sixth {
	width: 16.666%;
}

.col-two-sixth {
	width: 32.333%;
}

.col-one-seventh {
	width: 14.285%;
}

.col-one-eighth {
	width: 12.5%;
}

.col-two-eighth {
	width: 25%;
}

.col-one-ninth {
	width: 11.111%;
}

.col-two-ninth {
	width: 22.222%;
}

.col-one-tenth {
	width: 10%;
}

.col-two-tenth {
	width: 20%;
}

.col-one-twelfth {
	width: 8.333%;
}
.col-two-twelfth {
	width: 16.666%;
}

.col-one-twenty-fourth {
	width: 4.166%;
}
.col-two-twenty-fourth {
	width: 8.333%;
}

.col-one-forty-eighth {
	width: 2.083%;
}

// Grid settings for analyse

.grid-parent {
	display: -ms-grid;
	display: grid;
	// IE prefixes
	-ms-grid-columns: 5fr 20fr;
	-ms-grid-rows: 1fr;
	grid-template-columns: 5fr 20fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.first-grid-col {
	-ms-grid-column: 1;
	padding-right: 2rem;
}

.second-grid-col {
	-ms-grid-column: 2;
}

.flexServiceContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}
.flexServiceItem {
	background-color: white;
	border: 4px solid #b1b4b6;
	color: #1d70b8;
	margin-right: 32px;
	width: 240px;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	text-align: center;
}

.flexServiceItem :hover {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transition: background-color 400ms ease-in-out;
	-ms-transition: background-color 400ms ease-in-out;
	transition: background-color 400ms ease-in-out;
}

.linkSpan {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 1;

	/* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
	background-image: url("empty.gif");
}

.blueText {
	color: #003078;
}
