{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="settlement-task-list">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Assessments in settlement group</h1>
    <h2 class="govuk-caption-xl govuk-!-margin-bottom-9">{{ data['description'] }}</h2>

    <!-------------- START OF FILTERS --------------------->
    <div class="moj-filter-layout">

      <div class="moj-filter-layout__filter">

        <div class="moj-filter">

          <div class="moj-filter__header">

            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>

            <div class="moj-filter__header-action">

            </div>

          </div>

          <div class="moj-filter__content">

            <!-- <div class="moj-filter__selected">

            <div class="moj-filter__selected-heading">

              <div class="moj-filter__heading-title">
                <h2 class="govuk-heading-m">Selected filters</h2>
              </div>

              <div class="moj-filter__heading-action">
                <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
              </div>

            </div>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Price m2</h3>

            <ul class="moj-filter-tags">

              <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>

              <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>

            </ul>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Rateable value</h3>

            <ul class="moj-filter-tags">

              <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Complete</a></li>

            </ul>

          </div> -->

            <div class="moj-filter__options">

              <button class="govuk-button" data-module="govuk-button">
                Apply filters
              </button>

              <!-- ADDRESS -->
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">Address contains</label>
                <input class="govuk-input" id="address" name="address" type="text">
              </div>

              <!-- Total Significant area m2 -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Total Significant area m2</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">1000</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">2000</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">3000</label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <!-- PRICE M2 -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Price m2</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">£125.00</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">£150.00</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">£225.00</label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <!-- RATEABLE VALUE -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Rateable value</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">£125.00</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">£150.00</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">£225.00</label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <!-- Survey unit type -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Survey unit type</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">XXX</label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <!-- Assessment status -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Assessment status</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">XXX</label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <!-- NDR change reason -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">NDR change reason</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">XXX</label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <!-- Case settlement code -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Case settlement code</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">XXX</label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <!-- CCA type -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">CCA type</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">XXX</label>
                    </div>

                  </div>
                </fieldset>
              </div>

              <!-- Survey unit count -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Survey unit count</legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="type">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">XXX</label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">XXX</label>
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="moj-filter-layout__content">

        <!------------ BUTTONS ----------->
        <div class="moj-action-bar">

          <div class="moj-action-bar__filter"></div>

          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">

              {{ govukButton({
                text: "Add to assessment summary",
                classes: "govuk-button moj-button-menu__item govuk-button--primary",
                href: "supporting-assessments-success-message"
              }) }}

              {{ govukButton({
                text: "Add or view remark",
                classes: "govuk-button moj-button-menu__item govuk-button--secondary",
                href: "supporting-assessment-add-remark"
              }) }}
            </div>

          </div>

        </div>

        <div class="moj-scrollable-pane">

          <div class="moj-scrollable-pane__wrapper">

            <table class="govuk-table scrollableTable" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
              <thead class="govuk-table__head">
                <!------------ TABLE HEADERS ------------>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header stickyCellOne" scope="col" id="select-all"></th>
                  <th class="govuk-table__header stickyCellTwo" scope="col">Address</th>
                  <th class="govuk-table__header stickyCellThree" scope="col">Total<br>significant<br>area</th>
                  <th class="govuk-table__header stickyCellFour" scope="col">Price<br>m2</th>
                  <th class="govuk-table__header stickyCellFive" scope="col">Rateable<br>value</th>
                  <th class="govuk-table__header" scope="col">Survey<br>unit<br>type</th>
                  <th class="govuk-table__header" scope="col">Asst<br>status</th>
                  <th class="govuk-table__header" scope="col">NDR<br>change<br>reason</th>
                  <th class="govuk-table__header" scope="col">Case<br>settlement<br>code</th>
                  <th class="govuk-table__header" scope="col">CCA<br>type</th>
                  <th class="govuk-table__header" scope="col">Settled<br>flag</th>
                  <th class="govuk-table__header" scope="col">Survey<br>unit<br>count</th>
                  <th class="govuk-table__header" scope="col">Col 12</th>
                  <th class="govuk-table__header" scope="col">Col 13</th>
                  <th class="govuk-table__header" scope="col">Col 14</th>
                  <th class="govuk-table__header" scope="col">Col 15</th>
                  <th class="govuk-table__header" scope="col">Col 16</th>
                  <th class="govuk-table__header" scope="col">Col 17</th>
                  <th class="govuk-table__header" scope="col">Col 18</th>
                  <th class="govuk-table__header" scope="col">Col 19</th>
                  <th class="govuk-table__header" scope="col">Col 20</th>
                  <th class="govuk-table__header" scope="col">Col 21</th>
                  <th class="govuk-table__header" scope="col">Col 22</th>
                  <th class="govuk-table__header" scope="col">Col 23</th>
                  <th class="govuk-table__header" scope="col">Col 24</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <!------------ TABLE ROW 1 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">36 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£80.00</td>
                  <td class="govuk-table__cell stickyCellFive">£510,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">2I</td>
                  <td class="govuk-table__cell">Challenge</td>
                  <td class="govuk-table__cell">Y</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>

                  <!------------ TABLE ROW 2 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">36 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£80.00</td>
                  <td class="govuk-table__cell stickyCellFive">£510,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">2I</td>
                  <td class="govuk-table__cell">Challenge</td>
                  <td class="govuk-table__cell">Y</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

                <!------------ TABLE ROW 3 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">36 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£65.00</td>
                  <td class="govuk-table__cell stickyCellFive">£425,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

                <!------------ TABLE ROW 4 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">36 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£62.00</td>
                  <td class="govuk-table__cell stickyCellFive">£410,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

                <!------------ TABLE ROW 5 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">18 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£80.00</td>
                  <td class="govuk-table__cell stickyCellFive">£510,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">2I</td>
                  <td class="govuk-table__cell">Challenge</td>
                  <td class="govuk-table__cell">Y</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

                <!------------ TABLE ROW 6 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">49 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£65.00</td>
                  <td class="govuk-table__cell stickyCellFive">£425,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

                <!------------ TABLE ROW 7 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">59 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£80.00</td>
                  <td class="govuk-table__cell stickyCellFive">£510,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">3</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">2I</td>
                  <td class="govuk-table__cell">Challenge</td>
                  <td class="govuk-table__cell">Y</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

                <!------------ TABLE ROW 8 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">74 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£65.00</td>
                  <td class="govuk-table__cell stickyCellFive">£425,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

                <!------------ TABLE ROW 9 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">74 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£65.00</td>
                  <td class="govuk-table__cell stickyCellFive">£425,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

                <!------------ TABLE ROW 10 ------------>
                <tr class="govuk-table__row govuk-table__row--selected">
                  <td class="govuk-table__cell stickyCellOne">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                      <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                        <span class="govuk-visually-hidden">Select Aconcagua</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell stickyCellTwo">74 CROSS STREET MANCHESTER M2 7AQ</td>
                  <td class="govuk-table__cell stickyCellThree">359.20</td>
                  <td class="govuk-table__cell stickyCellFour">£65.00</td>
                  <td class="govuk-table__cell stickyCellFive">£425,000</td>
                  <td class="govuk-table__cell">SHOP</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                  <td class="govuk-table__cell">Some stuff</td>
                </tr>

              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>
  {% endblock %} stickyCellTwo