{% extends "layout.html" %} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>



<a class="govuk-back-link" href="analyse-hereditaments">Back</a> {% endblock %} {% block content %}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Success - Add remark</h1>
                <h3 class="govuk-heading-m">User ID: abcd1234</h3>

                {%- from "moj/components/banner/macro.njk" import mojBanner -%} {{ mojBanner({ type: 'success', text: 'You have successfully added your remark.', iconFallbackText: 'Success' }) }}



            </div>
        </div>



        <!--------------------- START OF TABLE ----------------------------->


        {{ govukTable({ captionClasses: "govuk-table__caption--m", firstCellIsHeader: false, head: [ { text: "Address", classes: 'col-one-sixth' }, { text: "Existing Remark", classes: 'col-two-sixth' }, { text: "Created on", classes: 'col-one-sixth' }, { text:
        "Written by", classes: 'col-one-sixth' }, { text: " ", classes: 'col-one-sixth' }, { text: " ", classes: 'col-one-sixth' } ], rows: [ [ { text: "22 Some Street XXX 1X3" }, { html: "I love music theme of Howling Fjord, it is so peaceful, filled
        with ambient elements and sounds of nature, very relaxing. <span><b>Vast majority of readers here have no idea how to handle different problems, they just repeat same old methods, zero improvisation. There is no perfect solution to your problem, I have to check it myself and will tell you what can be done.</b></span>"
        }, { text: "Date here" }, { text: "User ID here" }, { text: " " }, { text: " " } ] ] }) }}

        <!-- END OF TABLE  -->



    </main>
</div>
{% endblock %}

</body>

</html>