{% extends "layout.html" %}



{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="analyse-rentals">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        {% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

        {{ mojPageHeaderActions({
                heading: {
                text: 'Preview Schedule'
                },
                items: [{
                    text: "Print schedule",
                    classes: "govuk-button--primary",
                    href: "analyse-rentals-print-schedule"
                },
                {
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: "analyse-rentals"
                }]
        }) }}
        
        
        

        <h3 class="govuk-heading-s">SCHEDULE OF INFORMATION TO BE USED AS EVIDENCE IN VALUATION TRIBUNAL PROCEEDINGS IN ACCORDANCE WITH REGULATION 17 OF THE VALUATION TRIBUNAL FOR ENGLAND (COUNCIL TAX AND RATING APPEALS) (PROCEDURE) REGULATIONS 2009
        </h3>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-body-l">Address of Hereditament : 15 SOME STREET, SOMETOWN, XX2 1WB <br>
            The number of hereditaments in this notice, relevant for the purposes of Regulation 17(7) : 3</p>


        <ul class="govuk-list">
            <li>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Address: </span>15 SOME STREET, SOMETOWN, XX2 1WB</p>
                <p class="govuk-body"></p>
            </li>
            <li>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">ASSESSMENT DETAILS 2017 RATING LIST</span></p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Description :</span> SHOP AND PREMISES</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Rateable Value :</span> £45,750</p>
            </li>
            <li>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">INFORMATION SOURCE: Request for Information, Non Domestic Rating:</span> 10473089592</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Information Provided By :</span> Jon Klampit</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Position :</span> xxxxx</p>
            </li>
            <li>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">SUMMARY OF INFORMATION PROVIDED</span> </p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Lease Term :</span> 10 Yrs</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Lease From :</span> 01-Feb-2013</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Effective Date Of Rent :</span> 01-Feb-2013</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">The Rent Was Fixed :</span> xxxxx</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Rent Review Pattern :</span> 5.00 Years</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Responsibility For The Cost Of Outside Repairs :</span> Tenant</p>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Responsibility For The Cost Of Inside Repairs :</span> Tenant</p>
            </li>
        </ul>

        
    </div>
</div>
{% endblock %}