{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="get-comparable-data">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Set Rateable Value</h1>
    <form action="get-comparable-data" method="post" novalidate>
      {% from "govuk/components/select/macro.njk" import govukSelect %}

      {{ govukSelect({
        id: "rateable",
        name: "rateable",
        label: {
          text: "Value is"
        },
        items: [
          {
            value: "More than",
            text: "More than",
            selected: true
          },
          {
            value: "Less than",
            text: "Less than"
          },
          {
            value: "Between",
            text: "Between"
          }
        ]
      }) }}

      {{ govukInput({
        id: "compare-rateable-value",
        name: "compare-rateable-value",
        label: {
          text: "Size"
        },
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-5",
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>


  </div>
</div>

{% endblock %}