{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="/">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
        {{ mojPageHeaderActions
            ({ heading:
                { text:
                    'Settlement Home'
                },
                items: [{
                    text: "Create new dataset",
                    href: "create-new-dataset",
                    classes: "govuk-button--primary"
                }]
            })
        }}

        <h2 class="govuk-heading-m">Your Current Datasets</h2>

        {{ govukTable
            ({ captionClasses:
                "govuk-table__caption--m",
                firstCellIsHeader: false,
                head: [
                    {
                        text: "Dataset ID",
                        classes: 'col-one-eighth'
                    },
                    {
                        text: "Matrix Ref",
                        classes: 'col-one-eighth'
                    },
                    {
                        text: "Challenge Case Number",
                        classes: 'col-one-eighth'
                    },
                    {
                        text: "Created on",
                        classes: 'col-one-eighth'
                    },
                    {
                        text: "Sub Location",
                        classes: 'col-one-eighth'
                    },
                    {
                        text: "Text File",
                        classes: 'col-one-eighth'
                    },
                    {
                        text: "Data Status",
                        classes: 'col-one-eighth'
                    },
                    {
                        text: "Action",
                        classes: 'col-one-eighth'
                    }
                ],
                rows:
                [ [
                    { 
                        text: "abc_123" },
                        { 
                            text: "MATR_123XYZ" 
                        },
                        { 
                            text: "CHALL_123"
                        },
                        {
                            text: "9/9/99"
                        },
                        {
                            text: "SubLoc"
                        },
                        {
                            text: "Y/N"
                        },
                        
                        {
                            html:" <strong class='govuk-tag'>READY</strong>"
                        },
                        {
                            html: "<a href='existing-dataset'>Open</a>"
                        }
                ] ]
            })
        }}
    </div>
</div>
{% endblock %}
<div class=""></div>