{% extends "layout.html" %}



{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>



<a class="govuk-back-link" href="/analyse-rentals-exclude-matrix">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Confirm - Exclude from Matrix</h1>
                <h3 class="govuk-heading-m">User ID: abcd1234</h3>

                {%- from "moj/components/banner/macro.njk" import mojBanner -%}

                {% set bannerHtml %}
                <h2 class="govuk-heading-m">WARNING. You are about to EXCLUDE the addresses below FROM the matrix.</h2>
                {% endset %}

                {{ mojBanner({
                    type: 'information',
                    html: bannerHtml
                    }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                              text: "Confirm Exclude from matrix",
                              href: "analyse-rentals-exclude-matrix-success"
                        }) }}

                    <a class="govuk-link" href="/analyse-rentals-exclude-matrix">Cancel</a>
                </div>

            </div>
        </div>



        <!--------------------- START OF TABLE ----------------------------->


        {{ govukTable({
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: false,
            head: [
                {
                    text: "Address",
                    classes: 'col-one-sixth'
                },
                {
                    text: "Rent useful",
                    classes: 'col-one-sixth'
                },
                {
                    text: "UARN ID",
                    classes: 'col-one-sixth'
                },
                {
                    text: "Rental ID",
                    classes: 'col-one-sixth'
                },
                {
                    text: "Type",
                    classes: 'col-one-sixth'
                },
                {
                    text: "Adjustment data",
                    classes: 'col-one-sixth'
                }
            ],
            rows: [
                [
                    {
                        text: "22 Some Street XXX 1X3"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    }
                ],
                [
                    {
                        text: "22 Some Street XXX 1X3"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    }
                ],
                [
                    {
                        text: "22 Some Street XXX 1X3"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    },
                    {
                        text: "to come"
                    }
                ]
                
            ]
            }) }}

        <!-- END OF TABLE  -->



    </main>
</div> {% endblock %} </body>

</html>