<p class="govuk-body-s govuk-!-display-inline">Filters Selected: </p>
<p class="govuk-body-s govuk-!-display-inline govuk-!-font-size-14 filter-pill-blue govuk-!-margin-right-2"><strong>Street x </strong></p>
<p class="govuk-body-s govuk-!-display-inline govuk-!-font-size-14 filter-pill-blue govuk-!-margin-right-2"><strong>Age x </strong></p>
<p class="govuk-body-s govuk-!-display-inline govuk-!-font-size-14 filter-pill-blue govuk-!-margin-right-2"><strong>Rent value x </strong></p>
<p class="govuk-body-s govuk-!-display-inline govuk-!-font-size-14 filter-pill-red govuk-!-margin-right-2"><strong><a class="filter-pill-red" href="properties_landing_tabs">Clear all filters x </a></strong></p>