{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="choose-app">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
        {{ mojPageHeaderActions
            ({ heading:
                { text:
                    'Settlement Cases'
                },
                items: [{
                    text: "Create new case",
                    href: "create-new-case",
                    classes: "govuk-button--primary"
                }]
            })
        }}

        <h2 class="govuk-heading-m">Your Current Datasets</h2>

        {{ govukTable
            ({ captionClasses:
                "govuk-table__caption--m",
                firstCellIsHeader: false,
                head: [
                    {
                        text: "Description",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Regional valluation units",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Economic regions",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Billing authority codes",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Bulk class indicators",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Sub locations",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Scat codes",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Scat suffixes",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Data Status",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Action",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Action",
                        classes: 'col-one-twelfth'
                    },
                    {
                        text: "Action",
                        classes: 'col-one-twelfth'
                    }                
                ],
                rows:
                [ [
                    { 
                        text: data['dataset-id']
                    },
                    { 
                        text: data['matrix-ref'] 
                    },
                    { 
                        text: data['cca-ref']
                    },
                    {
                        text: data['cdb-case-num']
                    },
                    {
                        text: data['sub-location']
                    },
                    {
                        text: data['text-file-type']
                    },
                    {
                        text: data['text-file-type']
                        
                    },
                    {
                        text: data['text-file-type']
                    },
                    {
                        text: data['text-file-type']
                    },
                    {
                        html: "<a href='#'>Open</a>"
                    },
                    {
                        html: "<a href='#'>Refresh</a>"
                    },
                    {
                        html: "<a href='#'>Edit</a>"
                    }
                ] ]
            })
        }}
    </div>
</div>
{% endblock %}
<div class=""></div>