{% extends "layout.html" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="defence-home-filled">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data['description'] }}</span>
    <h1 class="govuk-heading-xl">
      Settlement group progress
    </h1>

    <div>
      <p class="govuk-body-s govuk-!-display-inline govuk-!-margin-bottom-4">Filters Selected: </p>
      
      {%- from "moj/components/badge/macro.njk" import mojBadge -%}
      {{ mojBadge({
        text: 'Area value: more than 1000m2',
        classes: "moj-badge--black"
      }) }}
    </div>
    <!-- <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 3 sections.</p> -->

    <ol class="app-task-list">
      <!-- STAGE 1 -->
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Before you begin
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="analyse-group-summary" aria-describedby="analyse-filter-status">
                Analyse and apply filters
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="submit-pay-status">Completed</strong>
          </li>
        </ul>
      </li>

      <!-- STAGE 2 -->
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Gather supporting evidence
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="supporting-assessments" aria-describedby="assessments-status">
                Assessments
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="submit-pay-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="supporting-rents" aria-describedby="rents-status">
                Rents
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="submit-pay-status">IN progress</strong>
          </li>
        </ul>
      </li>

      <!-- STAGE 3 -->
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Generate schedules
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="supporting-assessments-generate-schedule.html" aria-describedby="rents-status">
                Assessment summary
              </a>
            </span>
            <strong class="govuk-tag  app-task-list__tag" id="submit-pay-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="supporting-rents-generate-schedule.html" aria-describedby="rents-status">
                Rental summary
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Reg 17 / 31
            </span>
            <strong class="govuk-tag govuk-tag--red app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Related assessment summary
            </span>
            <strong class="govuk-tag govuk-tag--red app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}