{% extends "layout.html" %} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>



<a class="govuk-back-link" href="analyse-hereditaments">Back</a> {% endblock %} {% block content %}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Add remark to supporting rent</h1>
                <div id="add-a-comment-hint" class="govuk-hint">
                    Add remark here to append to survey units in the table.
                  </div>

                <form>

                    <div class="govuk-form-group">
                        <textarea class="govuk-textarea govuk-!-width-one-half " id="add-a-comment" name="add-a-comment " rows="8 " aria-describedby="add-a-comment-hint "></textarea>
                    </div>

                    <div class="govuk-button-group">
                        {{ govukButton
                            ({ text: "Save remark", href: "analyse-hereditaments-add-remark-confirm" })
                        }}

                        <a class="govuk-link" href="analyse-hereditaments">Cancel</a>
                        <a class="govuk-link" href="analyse-hereditaments-add-remark-error">Show Error State</a>
                    </div>

                </form>
            </div>
        </div>


        <!--------------------- START OF TABLE ----------------------------->


        
        {% from "govuk/components/table/macro.njk" import govukTable %}

            {{ govukTable({
            firstCellIsHeader: false,
            head: [
                {
                text: "Survey unit address",
                classes: 'app-custom-class'
                },
                {
                text: "Existing remark",
                classes: 'app-custom-class'
                },
                {
                text: "Remark last updated by",
                classes: 'app-custom-class'
                },
                {
                    text: "Remark last updated on",
                    classes: 'app-custom-class'
                },
                {
                    text: "Edit remark",
                    classes: 'govuk-visually-hidden'
                },
                {
                    text: "Delete remark",
                    classes: 'govuk-visually-hidden'
                }
            ],
            rows: [
                [
                {
                    text: "xxxxxxx"
                },
                {
                    text: "xxxxxxx"
                },
                {
                    text: "xxxxxxx"
                },
                {
                    text: "xxxxxxx"
                },
                {
                    html: "<a href='#'>Edit</a>"
                },
                {
                    html: "<a href='#'>Delete</a>"
                }
                ]
            ]
            }) }}

        <!-- END OF TABLE  -->


    </main>
</div> {% endblock %} </body>

</html>