{% extends "layout.html" %}



{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>



<a class="govuk-back-link" href="/analyse-hereditaments">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Add remark to hereditament(s)</h1>
            </div>
        </div>
        <h3 class="govuk-heading-m">User ID: abcd1234</h3>
        <!-------------------------- FORM ------------------------->
        <form>

            <div class="govuk-form-group">
                <textarea class="govuk-textarea govuk-!-width-one-half " id="add-a-comment " name="add-a-comment " rows="8 " aria-describedby="add-a-comment-hint "></textarea>
            </div>

            <div class="govuk-button-group">
                {{ govukButton({
                      text: "Save remark",
                      href: "analyse-hereditaments-add-remark-confirm"
                }) }}

                <a class="govuk-link" href="/analyse-hereditaments">Cancel</a>
            </div>

        </form>

        <!--------------------- START OF TABLE ----------------------------->


        {{ govukTable({
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: false,
            head: [
                {
                    text: "Address",
                    classes: 'col-one-sixth'
                },
                {
                    text: "Existing Remark",
                    classes: 'col-two-sixth'
                },
                {
                    text: "Created on",
                    classes: 'col-one-sixth'
                },
                {
                    text: "Written by",
                    classes: 'col-one-sixth'
                },
                {
                    text: " ",
                    classes: 'col-one-sixth'
                },
                {
                    text: " ",
                    classes: 'col-one-sixth'
                }
            ],
            rows: [
                [
                    {
                        text: "22 Some Street XXX 1X3"
                    },
                    {
                        text: "I love music theme of Howling Fjord, it is so peaceful, filled with ambient elements and sounds of nature, very relaxing."
                    },
                    {
                        text: "Date here"
                    },
                    {
                        text: "User ID here"
                    },
                    {
                        html: "<a href='/edit-existing-remark'>Edit</a>"
                    },
                    {
                        html: "<a href='/delete-existing-remark'>Delete</a>"
                    }
                ]
                
            ]
            }) }}

        <!-- END OF TABLE  -->


    </main>
</div> {% endblock %} </body>

</html>