{% extends "layout.html" %}



{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="/analyse-hereditaments">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Preview Schedule</h1>

        <h3 class="govuk-heading-s">SCHEDULE OF INFORMATION TO BE USED AS EVIDENCE IN VALUATION TRIBUNAL PROCEEDINGS IN ACCORDANCE WITH REGULATION 17 OF THE VALUATION TRIBUNAL FOR ENGLAND (COUNCIL TAX AND RATING APPEALS) (PROCEDURE) REGULATIONS 2009
        </h3>

        <p class="govuk-body-l">Address of Hereditament : 15 SOME STREET, SOMETOWN, XX2 1WB <br>
            The number of hereditaments in this notice, relevant for the purposes of Regulation 17(7) : 3</p>


        <ul class="govuk-list">
            <li>
                <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Address: </span>15 SOME STREET, SOMETOWN, XX2 1WB</p>
                <p class="govuk-body"></p>
            </li>
            <li>
                <p class="govuk-body">ASSESSMENT DETAILS 2017 RATING LIST</p>
                <p class="govuk-body">Description : SHOP AND PREMISES</p>
                <p class="govuk-body">Rateable Value : £45,750</p>
            </li>
            <li>
                <p class="govuk-body"> INFORMATION SOURCE: Request for Information, Non Domestic Rating: </p>
                <p class="govuk-body">govuk-body</p>
            </li>
            <li>
                <p class="govuk-body">govuk-body</p>
                <p class="govuk-body">govuk-body</p>
            </li>
        </ul>

        <p class="govuk-body">govuk-body</p>

        <p class="govuk-body">govuk-body</p>

        <p class="govuk-body">govuk-body</p>

        <p class="govuk-body">govuk-body</p>

        <p class="govuk-body">govuk-body</p>





        <div class="govuk-button-group">
            {{ govukButton({
                text: "Print schedule",
                classes: "govuk-button--primary",
                href: "analyse-hereditaments-add-remark"
            }) }}

            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: "analyse-hereditaments-create-schedule"
            }) }}
        </div>
    </div>
</div>
{% endblock %}