
{% extends "layout.html" %}

{% block beforeContent %}
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                alpha
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Defence Prototype
      </h1>
      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Version"
          },
          {
            text: " "
          }
        ],
        rows: [
          [
            {
              text: "Initial Version - Defence Prototype 1.1"
            },
            {
              html: "<a href='/v1/defence-home'>Open</a>"
            }
          ],
          [
            {
              text: "Defence Prototype 2.1 - Changes to Table data and headers"
            },
            {
              html: "<a href='/v2/defence-home'>Open</a>"
            }
          ]
        ]
      }) }}
      
    </div>
  </div>

{% endblock %}
