{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Settlement Prototype
    </h1>
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {{ govukTable({
        firstCellIsHeader: false,
        head:
        [
          {
            text: "Version"
          },
          {
            text: "Comments"
          },
          {
            text: "Action"
          }
        ],
        rows:
        [
          [
            {
              text: "1.1"
            },
            {
              html: "<ul class='govuk-list govuk-list--bullet'>
                    <li>Initial Version - High Level Screenflow</li>
                    </ul>"
            },
            {
              html: "<a href='/v1/defence-home'>Open</a>"
            }
          ],
          [
            {
              text: "2.1"
            },
            {
              html: "<ul class='govuk-list govuk-list--bullet'>
                    <li>Changes to Table column headers - (Input from AG)</li>
                    </ul>"
            },
            {
              html: "<a href='/v2/defence-home'>Open</a>"
            }
          ],
          [
            {
              text: "3.1"
            },
            {
              html: "<ul class='govuk-list govuk-list--bullet'>
                    <li>Create Settlement case workflow</li>
                    <li>Choose app Reval / Settlement UI screen</li>
                    <li>Improved UX Billing authority UI</li>
                    </ul>"
                    
            },
            {
              html: "<a href='/v3/choose-app'>Open</a>"
            }
          ],
          [
            {
              text: "4.1"
            },
            {
              html: "<ul class='govuk-list govuk-list--bullet'>
                    <li class='govuk-!-font-weight-bold' style='list-style-type: none;'>21st NOVEMBER CUTOFF TABLES / COLUMNS</li>
                    <li>Combined Rental Summary & Reg17 workflow</li>
                    <li>Add address</li>
                    <li>Ask for format (ITMS/TSA)</li>
                    <li>Page level filters - Explicit values</li>
                    </ul>"
                    
            },
            {
              html: "<a href='/v4/choose-app'>Open</a>"
            }
          ],
          [
          {
            text: "5.1"
          },
          {
            html: "<ul class='govuk-list govuk-list--bullet'>
                  <li class='govuk-!-font-weight-bold' style='list-style-type: none;'>UX/UR TESTING VERSION</li>
                  <li>Filters: Comparable assessment information</li>
                  <li>Map Visualisation</li>
                  <li>Fat rows/Card layout</li>
                  <li>Page level filters - Ranges</li>
                  </ul>"
                  
          },
          {
            html: "<a href='/v5/choose-app'>Open</a>"
          }
        ]
        ]
      }) }}



  </div>
</div>

{% endblock %}